@font-face {
    font-family: sneakregular;
    src: url(fonts/Sneak-Regular.ttf)format("truetype");
}

@font-face {
    font-family: sneakitalic;
    src: url(fonts/Sneak-Regular-Italic.otf)format("opentype");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: sneakregular;
    font-size: 10pt;
    color: black;
    overflow: hidden;
    background-color: rgb(237, 247, 248);
}

a {
    text-decoration: underline;
    color: black;
}

.preloader {
    display: none;
}

#drawingcanvas {
    display: block;
    position: absolute;
    z-index: -1;
}

#bio {
    position: absolute;
    width: 20%;
}

#revealbio {
    display: inline;
    text-decoration: underline;
}

#saveimg {
    display: inline;
    text-decoration: underline;
    position: absolute;
    width: 20%;
    text-align: right;
}

#textbio {
    display: none;
}

#displayedimage {
    display: none;
    position: absolute;
    width: 30%;
}

#description {
    display: none;
    position: absolute;
    width: 30%;
    text-align: right;
}