/* @font-face {
    font-family: avara;
    src: url(fonts/avara.woff) format("opentype");
} */

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden
}

.preloader {
    display: none;
}

#drawingcanvas {
    display: block;
    position: absolute;
    z-index: -1;
}

#bio {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 20%;
}

#displayedimage {
    display: none;
    position: absolute;
    width: 30%;
}

#description {
    display: none;
    position: absolute;
    width: 30%;
    bottom: 3%;
}