@font-face {
    font-family: sneakregular;
    src: url(fonts/Sneak-Regular.ttf)format("truetype");
}

@font-face {
    font-family: sneakitalic;
    src: url(fonts/Sneak-Regular-Italic.otf)format("opentype");
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: sneakregular;
    font-size: 10pt;
    color: black;
    overflow: hidden;
    background-color: rgb(237, 247, 248);
    cursor: url(images/cire.svg), none;
}

a {
    text-decoration: underline;
    color: black;
}


/* img {
    transition: opacity .4s;
    opacity: 0;
  
}

img:hover {
    transition: opacity .2s;
    opacity: 1;
} */

.preloader {
    display: none;
}

#drawingcanvas {
    display: block;
    position: absolute;
    z-index: -1;
}

#bio {
    position: absolute;
    width: 20%;
    top: 0%;
    left: 0%;
}

#revealbio {
    display: inline;
    text-decoration: underline;
}

#saveimg {
    display: inline;
    text-decoration: underline;
    position: absolute;
    width: 20%;
    text-align: right;
    top: 0%;
    right: 0%;
}

#textbio {
    display: none;
}

#displayedimage {
    display: none;
    position: absolute;
    max-height: 27%;
}

#img11 {
    display: none;
    width: 100%;
    align-content: center;
}

#description {
    display: none;
    position: absolute;
    width: 100%;
    right: 0%;
    bottom: 0%;
    margin: 0%;
    text-align: right;
}

.texts {
    z-index: 10;
}